$textSize: 16px;
$titleSize: 23px;
$dark: #000000;
$light: #ffffff;
$themeTime: ease-in 0.5s;
$lightShadow: 0 0 15px 4px rgba(0, 0, 0, 0.55);
$darkShadow:   1px 11px 6px 1px #fff;
$fontMono: 'Roboto Mono','sans-serif';
$fontCormorant: 'Cormorant Garamond','sans-serif';
$fontDisplay: 'Sedgwick Ave Display','sans-serif';
$fontWeight: 680;